/* source lecture 3 & lab 3 */
/* for style guide page */

.container1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container1 div{
  border: 1px solid black;
  padding: 16px;
}

.container2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container2 div{
  border: 1px solid blue;
  padding: 16px;
  margin-top: 10px;
}

.box1 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #42687C;
}

.box2 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #84A5B8;
}

.box3 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #B3DAF1;
}

.box4 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #CBCBCB;
}

.box5 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #707571;
}

/*----------------------------------------------------*/

/* for index page  */
/* header */
.nav-container {
  border: 1px solid black;
}

/* footer */
.nav-container2 {
  border: 1px solid black;
  max-width: 100%;
}

/* project images */
.container div{
  border: 1px solid black;
  padding: 1em;
}

.container{
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.block1 {
  flex: 2;
}

.block2 {
  flex: 2;
}

/* content */
.content {
  border: 2px solid orange;
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  position: relative;
  max-width: auto;
}

/* wallpaper main page */
.container-img {
  border: 1px solid green;
  position: relative;
  flex-wrap: wrap;
}

/* Welcome text box */
.welcome_text_box {
  border: 1px solid black;
  position: absolute;
  flex-wrap: wrap;
  top: -16%;
  left: 59.3%;
}
