/* source lecture 3 & lab 3 */
/* for style guide page */

.container1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container1 div{
  border: 1px solid black;
  padding: 16px;
}

.container2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container2 div{
  border: 1px solid blue;
  padding: 16px;
  margin-top: 10px;
}

.box1 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #42687C;
}

.box2 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #84A5B8;
}

.box3 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #B3DAF1;
}

.box4 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #CBCBCB;
}

.box5 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 10em;
  text-align: center;
  background-color: #707571;
}

/*----------------------------------------------------*/

/* for index page  */
/* header */
.nav-container {
  border: 0px solid purple;
  margin-top: 1.5%;
}

/* footer */
.nav-container-bottom {
  border: 0px solid black;
  max-width: 100%;
  text-align: center;
}

.link1 {
  flex: 5;
}

.link2 {
  flex: 5;
}

.link3 {
  flex: 5;
}

.link4 {
  flex: 5;
}

.link5 {
  flex: 5;
}

@media screen and (min-width: 480px) {
  .nav-container-bottom {
    display: flex;
    flex-wrap: wrap;
  }
}

/* project images div*/
.container div{
  border: 0px solid black;
  padding: 1em;
}

/* project images  */
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.block1 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 15em;
}

.block2 {
  flex: 2;
  flex-grow: 1;
  flex-basis: 15em;
}

/* content */
.content {
  border: 0px solid orange;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.2%;
  position: relative;
}

/* wallpaper main page */
.container-img {
  border: 0px solid green;
  position: relative;
  flex-wrap: wrap;
}

/* Welcome text box */
.welcome_text_box {
  border: 0px solid black;
  position: absolute;
  flex-wrap: wrap;
  top: -16.5%;
  left: 59.49%;
}

/* -------------------------------- */

/* about page */
.about_content_container div {
  border: 0px solid violet;
  margin-top: 1%;
}

.about_content2 {
  text-align: left;
  padding-left: 23.5%;
  padding-right: 23.5%;
}

/* for larger screen */
/* 1033 */
@media screen and (min-width: 1033px) {
  .about_content_container {
    display: flex;
    flex-wrap: wrap;
  }

  .about_content1 {
    flex: 2;
    float: right;
    padding-top: 1.8%;
    padding-left: 9%;
  }

  .about_content2 {
    flex: 2;
    text-align: left;
    padding-left: 1%;
    padding-right: 9%;
  }

}

/* -------------------------------- */

/* the binding of isaac title */
.game_container1 {
  border: 0px solid black;
  display: flex;
  flex-wrap: wrap;  
  margin-top: 1.8%;
  margin-left: 10%;
  margin-right: 13.5%;
}

.heading_game {
  border: 0px solid green;
  flex-basis: 100%;
}

/* source code for youtube responsive video */
/* https://www.youtube.com/watch?v=9YffrCViTVk */

.game_youtube {
  border: 0px solid green;
  flex: 2;
  flex-grow: 1;
  flex-basis: 100%;
  position: relative;
}

.game_youtube iframe {

}

.game_goal {
  border: 0px solid green;
  flex: 2;
  flex-grow: 1;
  flex-basis: 100%;
}

.game_tools {
  border: 0px solid red;
  flex: 2;
  flex-grow: 1;
  flex-basis: 50%;
}

.game_skills {
  border: 0px solid red;
  flex: 2;
  flex-grow: 1;
  flex-basis: 50%;
}

.game_problems {
  border: 0px solid red;
  flex: 4;
  flex-grow: 1;
  flex-basis: 100%;
}

.game_decisions {
  border: 0px solid red;
  flex: 4;
  flex-grow: 1;
  flex-basis: 100%;
}

.game_solution {
  border: 0px solid black;
  flex: 2;
  flex-grow: 1;
  flex-basis: 53%;
}

.game_playing {
  border: 0px solid black;
  flex: 1;
  flex-grow: 1;
  flex-basis: 100%;
}

.game_user_process{
  border: 0px solid red;
  flex: 2;
  flex-grow: 1;
  flex-basis: 53%;
}

.game_team_process {
  border: 0px solid red;
  flex: 2;
  flex-grow: 1;
  flex-basis: 47%;
  padding-left: 3%;
}

.game_research {
  border: 0px solid black;
  flex: 2;
  flex-grow: 1;
  flex-basis: 53%;
}

.game_debrief{
  border: 0px solid black;
  flex: 1;
  flex-grow: 1;
  flex-basis: 100%;
  padding-top: 3%;
}

.game_reflection{
  border: 0px solid black;
  flex: 1;
  flex-grow: 1;
  flex-basis: 100%;
}

@media screen and (min-width: 426px) {
  .game_youtube {
    border: 0px solid green;
    flex: 2;
    flex-grow: 1;
    flex-basis: 53%;
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 28.13%; 
  }

  .game_youtube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

@media screen and (min-width: 769px) {
/*  .game_youtube {
    flex: 1;
    flex-grow: 1;
    flex-basis: 3%;
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 28.13%; 
  }

  .game_youtube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }*/

  .game_goal {
    padding-left: 3%;
    flex-basis: 100%
  }

  .game_tools {
    flex: 4;
    flex-basis: 50%;
  }

  .game_skills {
    flex: 4;
    flex-basis: 50%;
  }

  .game_problems {
    flex: 2;
    flex-basis: 50%;
  }

  .game_decisions {
    flex: 2;
    flex-basis: 50%;
  }

  .game_playing {
    border: 0px solid black;
    flex: 2;
    flex-grow: 1;
    flex-basis: 47%;
    padding-left: 3%;
    padding-top: 2.5%;
  }

  .game_debrief{
    flex: 2;
    flex-basis: 47%;
    padding-left: 3%;
    padding-top: 2.8%;
  }

}

@media screen and (min-width: 1024px) {
  .game_goal {
    padding-left: 0%;
  }

  .game_tools {
    flex: 2;
    flex-basis: 53%;
  }

  .game_skills {
    flex: 2;
    flex-basis: 47%;
    padding-left: 3%;
  }

  .game_problems {
    flex: 2;
    flex-grow: 1;
    flex-basis: 53%;
  }

  .game_decisions {
    flex: 2;
    flex-grow: 1;
    flex-basis: 47%;
    padding-left: 3%;
  }

  .game_debrief{
    flex: 2;
    flex-basis: 100%;
    padding-left: 0%;
    padding-top: 2.8%;
  }

  .game_research {
    flex: 2;
    flex-grow: 1;
    flex-basis: 53%;
  }

  .game_debrief{
    flex: 2;
    flex-grow: 1;
    flex-basis: 47%;
    padding-left: 3%;
  }

  .game_reflection{
    border: 0px solid black;
    flex: 1;
    flex-grow: 1;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1168px) {
  .game_goal {
    padding-left: 0%;
    flex-basis: 47%;
    padding-left: 3%;
  }

}

/* ------------------------------------------ */
/* blockhead vr content */
.vr_content_container  {
  border: 0px solid orange;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.8%;
  margin-left: 10%;
  margin-right: 13.5%;
}

/* blockhead vr content */
.heading_vr {
  border: 0px solid green;
  flex-basis: 100%;
}

.vr_wallpaper {
  border: 0px solid green;
  flex: 3;
  flex-grow: 1;
  display: block;
  flex-basis: 100%;
}

.tools_list{
  border: 0px solid red;
  flex: 3;
  flex-grow: 1;
  flex-basis: 23.5%;
  padding-left: 3%;
}

.skills_list{
  border: 0px solid red;
  flex: 3;
  flex-grow: 1;
  flex-basis: 23.5%;
}

/*.skills_list2{
  border: 0px solid red;
  flex: 3;
  flex-grow: 1;
  flex-basis: 25%;
  padding-top: 4.8%;
}*/


.vr_goal {
  border: 0px solid green;
  flex: 1;
  flex-grow: 1;
  flex-basis: 100%;
}

.problems_decisions {
  border: 0px solid green;
  flex: 3;
  flex-basis: 33.3%;
}

.decision_block {
  border: 0px solid green;
  flex: 3;
  flex-basis: 33.3%;
}

.vr_sketches {
  border: 0px solid green;
  flex: 3;
  flex-grow: 1;
  flex-basis: 33.3%;
  padding-left: 3%;
  padding-top: 1.7%;
}

.solution_title {
  border: 0px solid black;
  flex: 1;
  flex-grow: 1;
  flex-basis: 100%;
}

.pinewood_list {
  border: 0px solid black;
  flex: 4;
  flex-grow: 1;
  flex-basis: 25%;
}

.aluminum_list {
  border: 0px solid black;
  flex: 4;
  flex-grow: 1;
  flex-basis: 25%;
}

.helmet_list {
  border: 0px solid black;
  flex: 4;
  flex-grow: 1;
  flex-basis: 25%;
}

.audio_list {
  border: 0px solid black;
  flex: 4;
  flex-grow: 1;
  flex-basis: 25%;
}

.vr_proto {
  border: 0px solid green;
  flex: 1;
  flex-basis: 100%;
}

.vr_render {
  border: 0px solid green;
  flex: 1;
  flex-basis: 100%;
  padding-top: 1%;
  padding-right: 0%;
}

.vr_reflection {
  border: 0px solid green;
  flex: 1;
  flex-basis: 100%;
  padding-left: 0%;
}

@media screen and (min-width: 426px) {
  .vr_wallpaper {
  flex-basis: 53%;
}

  .vr_render {
    padding-right: 47%;
  }

* {
  box-sizing: border-box;
}
